<html>
<!DOCTYPE html>
<head>
    <title>Index</title>
</head>
<body>
<div>
    <header>
        <nav>
            <ul>
                <li>Pagina 1</li>
                <li>Pagina 2</li>
                <li>Pagina 3</li>
                <li>Pagina 4</li>
                <li>Pagina 5</li>
            </ul>
        </nav>
    </header>
@RenderBody()
<footer>
        <p>Contattaci al numero..........</p>
    </footer>
</div>
</body>
</html>