@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Conferma registrazione";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        Per favore controlla la tua casella email per confermare la registrazione a questo indirizzo: <a href="https://mailtrap.io">mail trap</a>.
    </p>
}
