<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elendo dei corsi</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>pagina1</li>
                <li>pagina2</li>
                <li>pagina3</li>
                <li>pagina4</li>
                <li>pagina5</li>
            </ul>
        </nav>
    </header>
    <h1>sono la view Index per il Controller HomeController</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima consequatur asperiores cum soluta! Laborum nam odio inventore eaque omnis optio repellat voluptatibus! Numquam, dolorum? Minus ratione eius sint minima consectetur.</p>
    <p>Assumenda cupiditate non sunt magnam labore. Animi, eius eaque! Quisquam libero atque corrupti tenetur nemo autem obcaecati velit dignissimos. Unde voluptatibus porro magni aspernatur consectetur id necessitatibus molestias recusandae delectus!</p>
    <p>Doloremque mollitia unde dolorem architecto nostrum exercitationem quia, voluptates optio reiciendis quisquam sed minima labore, quos vitae, iusto nihil? Dignissimos sequi nostrum voluptatibus deserunt beatae soluta inventore laboriosam necessitatibus saepe.</p>
    <p>Architecto pariatur accusamus aliquam aperiam praesentium eos fugit quia expedita nihil aliquid, rem voluptatibus in inventore reiciendis non ipsam sunt quo consequuntur autem. Sapiente, ipsam? Delectus consequatur dignissimos tempore! Nisi.</p>
    <p>Sit, obcaecati ex. Magni error dolorum cupiditate earum facilis nobis quibusdam inventore ea dolores consectetur soluta iste, sequi, in, natus eos suscipit qui. Praesentium ipsum quam, sequi similique odit maiores!</p>
    <footer>
        <p>Contattaci al numero....</p>
    </footer>  
                                                                               
</body>
</html>